/output/
/pelican.pid
/srv.pid
/cache/
aws_creds.tf
*.tfstate
/pelican-plugins
plan
/.mypy_cache
.envrc
.python-version
themes/twenty
themes/fuji
!/themes/offby1
node_modules/
themes/offby1/static/webfonts/
