-e git+https://github.com/drivet/pelican-webmention.git#egg=pelican-webmention
closure
cssmin
invoke
isort>=5.0
markdown
pelican-gist
pelican-githubprojects
pelican-photos
pelican-simple-footnotes
pelican-social-cards
pelican-tag-cloud
pelican-webassets
pelican>=4.5
pelican_advance_embed_tweet
piexif
python-slugify>=4.0
rich
webassets
wheel
