{% extends "base.html" %}
{% block title %}Archive - {{ SITENAME }}{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}


{% block content %}
<div class="col-12 col-md-9 float-left content">
	<div id="jquerytabs" class="wrapper main">
		<ul class="tabmenu clearfix tabnav">
			<li><a href="#archive-by-date">By date</a></li>
			<li><a href="#archive-by-tag">By topic</a></li>
		</ul>

		<div id="archive-by-date">
			{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
			<div class="page-info">
				<h3>{{ year }}</h3>
			</div>

			{% for article in date_year %}
			{% with class_suffix="-archive" %}
			{% include 'metadata.html' %}
			{% endwith %}
			{% endfor %}
			{% endfor %}
		</div>

		<div id="archive-by-tag">
			<div class="page-info">
				<h3>Tags</h3>
			</div>
			<ul class="tagcloud">
				{% for tag in tag_cloud|sort %}
				<li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<script>
 $(function() {
	 console.log("Yo, this is real");
	 $("#jquerytabs").tabs();
 });
</script>
{% endblock %}
