{% extends "base.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block meta %}
<meta name="author" content="{{ AUTHOR }}" />
<meta name="keywords" content="{{ category }}" />
{% endblock %}

{% block content %}
<div class="col-12 col-md-9 float-left content">


<div class="page-info">
	<span>Posts categorized under: {{ category }}</span>
</div>

{% for article in articles %}
<div class="post">
	{% include 'metadata.html' %}
	<div class="post-item post-summary">
		{{ article.summary }}
		<a href="{{ SITEURL }}/{{ article.url }}">read more →</a>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
