{% set FEED_ATOM = FEED_ALL_ATOM %}
{% extends "base.html.j2" %}
{% block content_title %}{% endblock %}

{% block content %}
<div class="col-12 col-md-9 float-left content">
	{% for article in articles %}

	{% if loop.index == 1 %}
	<article>
		<div class="post wrapper">
			{% include "metadata.html.j2" %}
			<div class="post-item post-content markdown-body">
				{{ article.content }}
			</div>
			{% if article.photo_gallery %}
			<div class="post-meta{{ class_suffix | default('') }} post-gallery-link">
				<span><i class="fas fa-images"></i>&nbsp;Gallery inside</span>
			</div>
		    {% endif %}
		</div>
	</article>

	{% if loop.length > 1 %}
	<h2>More Ideas</h2>
	{% endif %}

	{% elif loop.index < 7 %}
	<div class="post">
		{% with class_suffix="-archive" %}
		{% include 'metadata.html.j2' %}
		{% endwith %}
	</div>
	{% endif %}
	{% endfor %}

	<div class="page-info">
		<span>More posts in the <a href="{{ SITEURL }}/archives.html">archive</a></span>
	</div>


</div>
{% endblock content %}
