{% if TAG_FEED_ATOM %}
   {% set FEED_ATOM = TAG_FEED_ATOM|format(slug=tag.slug) %}
{% endif %}
{% extends "base.html.j2" %}
{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ tag }}" />
{% endblock %}

{% block content %}
<div class="col-12 col-md-9 float-left content">


<div class="page-info">
	<span>Posts tagged: {{ tag }}</span>
</div>

{% for article in articles %}
<div class="post">
	{% include 'metadata.html.j2' %}
	<div class="post-item post-summary markdown-body">
		{{ article.summary }}
		<a href="{{ SITEURL }}/{{ article.url }}">read more →</a>
	</div>
</div>
{% endfor %}

</div>
{% endblock %}
