{% extends "base.html.j2" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="col-12 col-md-9 float-left content">
<div class="wrapper main"> 
	<h2>Tags</h2>
	
	<ul class="tagcloud">
    {% for tag in tag_cloud %}
        <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
    {% endfor %}
	</ul>

</div>
</div>
{% endblock %}
