{% extends "base.html.j2" %}

{% block title %}Tags - {{ SITENAME }}{% endblock %}
{% block body_class %}tags-page{% endblock %}

{% block content %}
<div class="section-header">
    <h1>All Tags</h1>
</div>

<div class="tag-cloud">
    {% for tag, articles in tags|sort %}
    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag tag-{{ [articles|length, 4]|min }}">
        {{ tag }} ({{ articles|length }})
    </a>
    {% endfor %}
</div>
{% endblock %}
