// Override CSS rules with that file
.markdown-body {
  pre {
    line-height: $lh-condensed !important;
  }

  .highlight {
    // stylelint-disable-next-line primer/spacing
    padding: 0.2em 0.4em;
    margin: 0;
    // stylelint-disable-next-line primer/typography
    font-size: 85%;
    // stylelint-disable-next-line primer/colors
    background-color: rgba($black, 0.05);
    border-radius: $border-radius;

    br {
      display: none;
    }

    margin-bottom: $spacer-3;

    pre {
      word-break: normal;
      padding: 1em;
      box-shadow: rgba(4, 21, 31, 0.2) 0px 3px 6px,
        rgba(4, 21, 31, 0.3) 0px 3px 6px;
    }

    > pre {
      // stylelint-disable-next-line primer/typography
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }
}
