// var & global
@import "_var";
@import "_custom_var";
@import "_global";

// primer
@import "@primer/css/core/index.scss";
@import "@primer/css/support"; // support
@import "@primer/css/base"; // base
@import "@primer/css/layout/container"; // containers
@import "@primer/css/layout/grid"; // grid system
@import "@primer/css/markdown"; // markdown parsing system
@import "@primer/css/navigation/tabnav";
@import "@primer/css/utilities/layout"; // float and clearfix

// iconfont
@import "_iconfont";

// style
@import "_fuji-style/_header";
@import "_fuji-style/_content";
@import "_fuji-style/_sidebar";
@import "_fuji-style/_footer";
@import "_fuji-style/_components";

// theme
@import "_fuji-theme/_base";
@import "_fuji-theme/_style";

// lazy image placeholder
@import "_image";

// pygments
@import "_code";

// let the user override the theme
@import "_custom_rules";
